:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

.my-footer {
    /* height: 11em; */
    background-color: #2a2a2a;
    margin-top: 1.5em;
    padding: 1em;
    color: #ffffff;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}
.datepicker {
    z-index: 10000;
}